.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    flex-wrap: wrap;
    gap: 10px;
}


.pagination {
    display: flex;
    align-items: center;
    gap: .4rem;
    flex-wrap: wrap;
}

.pagination-pages {
    display: flex;
    align-items: center;
    gap: .4rem;
    flex-wrap: wrap;
}


.pagination > button {
    padding: 4px 15px;
    height: 35px;
    background: transparent;
    border: 1px solid var(--border);
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-color);

}

.pagination-pages > button {
    background: transparent;
    border: 1px solid var(--border);
    border-radius: 8px;
    width: 35px;
    height: 35px; 
    cursor: pointer;
    color: var(--text-color);
}

.pagination button:not(:disabled):hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    transition: all .4s;
}

.pagination > button:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.pagination-pages > button.active {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}