.jadwal-container {
  background-color: var(--background); 
  color: var(--text-color);
  
}
.jadwal-table {
  border-collapse: collapse;
  font-size: 16px;
  min-width: 600px;
  width: 100%;
}


/* scrolls */
.table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.jadwal-table th,
.jadwal-table td {
  padding: var(--cell-padding-y) var(--cell-padding-x);
  line-height: var(--line-height);
  font-size: var(--font-size);
  text-align: start;
}

.jadwal-table.border-row tr {
  border-bottom: 1px solid var(--border);
}
.jadwal-table.border-cell td , .jadwal-table.border-cell th {
  border: 1px solid var(--border);
}

/* Hover */
.jadwal-table tbody > tr {
  transition: ease .4s;
}

.jadwal-table.hoverable tbody > tr:hover {
  background: var(--border);
}

/* Striped */
.jadwal-table.jadwal-striped tbody > tr:nth-child(odd) {
  background: var(--border);
}